/* General styling */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* App container */
.App {
  width: 100%;
  
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

/* Header */
h2 {
  color: #007bff;
  margin-bottom: 20px;
}

/* Form styling */
form {
  margin-bottom: 30px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input, select, button {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Recommendation styling */
h3 {
  margin-top: 20px;
  color: #28a745;
}

p {
  margin: 5px 0;
}

/* Vehicle selector and color picker */
.vehicle-selector {
  margin-bottom: 20px;
}

.vehicle-selector button {
  width: 50px;
  margin: 5px;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6c757d;
  color: rgb(238, 228, 228);
  transition: background-color 0.3s;
}

.vehicle-selector button:hover {
  background-color: #000000;
}

.vehicle-selector .selected {
  background-color: #000000;
}

.vehicle-image {
  margin: 20px 0;
}

.vehicle-image img {
  max-width: 100%;
  border-radius: 10px;
  border: 2px solid #ddd;
}

.color-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.color-picker input[type="color"] {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}
